<div class="col-md-3 col-sm-6 mb-4">
  <a href="<%= course.url %>">
    <img class="img-fluid" src=<%= course.cover_source || 'https://picsum.photos/500/300'%> alt="">
  </a>
  <h3><%= course.title.titleize %></h3>
</div>