<div class="container">
      <section class="pb-5 header">
        <div class="container py-2">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="my-4">My Courses</h1>
              <% if current_user.teacher? %><%= link_to "Create New Course", courses_new_path, class: "btn btn-secondary btn-sm a-unstyled text-light" %><% end %>
            </div>
          </div>
        </div>
      </section>
      <% if @courses.any? %>
        <% @courses.each do |course| %>
          <%= render 'courses/course_tab', course: course %>
        <% end %>

        <div class="row pagination">    
          <div class="col-12 mx-auto flickr_pagination">      
            <%= will_paginate @courses %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-8 mx-auto" style="width: fit-content;">
              <h3>You dont have any courses.</h3>
          </div>
        </div>
      <% end %>
</div>